/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/static/styles/button.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.button_bottom__An8PF, .button_top__fANtP {
  position: absolute;
  z-index: 1;
  transition: transform 0.5s ease;
}

.button_top__fANtP {
  top: 0;
  right: 0;
}

.button_bottom__An8PF {
  bottom: 0;
  left: 0;
}

.button_parent__JbgeE {
  box-shadow: 3px 2px 2px 0px var(--shadow);
}

.button_text__DDEGm {
  position: absolute;
  top: 47%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.button_parent__JbgeE:enabled:hover .button_bottom__An8PF {
  transform: translate(-2.5px, 2px);
}
.button_parent__JbgeE:enabled:hover .button_top__fANtP {
  transform: translate(2.5px, -2px);
}

.button_buttonThird__U_EAO {
  padding: 10px 28px;
  border-radius: 40px;
  color: var(--primary);
}
.button_buttonThird__U_EAO:hover {
  transform: unset;
}

.button_buttonThirdWrap__RuKWD {
  background: linear-gradient(90deg, #cf4e16 0%, rgba(207, 78, 22, 0) 50.23%, #cf4e16 100%);
  padding: 1px;
  border-radius: 40px;
  overflow: hidden;
}

.button_triangle__ISKj4 {
  width: 26px;
  height: 26px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; /* Change the color as needed */
  border-left: 25px solid var(--dark-bg);
  position: relative;
  left: 3px;
}

.button_boxTransform__wxPMW {
  background: none;
  box-shadow: 11px 10px 4px var(--dark-bg);
  transform: translate(-50%, 0);
  transition: transform 0.5s ease-in-out;
}
.button_boxTransform__wxPMW:hover {
  transform: scale(1.025) translate(-49%, 0);
}
