/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/static/styles/button.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.button_bottom__An8PF, .button_top__fANtP {
  position: absolute;
  z-index: 1;
  transition: transform 0.5s ease;
}

.button_top__fANtP {
  top: 0;
  right: 0;
}

.button_bottom__An8PF {
  bottom: 0;
  left: 0;
}

.button_parent__JbgeE {
  box-shadow: 3px 2px 2px 0px var(--shadow);
}

.button_text__DDEGm {
  position: absolute;
  top: 47%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.button_parent__JbgeE:enabled:hover .button_bottom__An8PF {
  transform: translate(-2.5px, 2px);
}
.button_parent__JbgeE:enabled:hover .button_top__fANtP {
  transform: translate(2.5px, -2px);
}

.button_buttonThird__U_EAO {
  padding: 10px 28px;
  border-radius: 40px;
  color: var(--primary);
}
.button_buttonThird__U_EAO:hover {
  transform: unset;
}

.button_buttonThirdWrap__RuKWD {
  background: linear-gradient(90deg, #cf4e16 0%, rgba(207, 78, 22, 0) 50.23%, #cf4e16 100%);
  padding: 1px;
  border-radius: 40px;
  overflow: hidden;
}

.button_triangle__ISKj4 {
  width: 26px;
  height: 26px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; /* Change the color as needed */
  border-left: 25px solid var(--dark-bg);
  position: relative;
  left: 3px;
}

.button_boxTransform__wxPMW {
  background: none;
  box-shadow: 11px 10px 4px var(--dark-bg);
  transform: translate(-50%, 0);
  transition: transform 0.5s ease-in-out;
}
.button_boxTransform__wxPMW:hover {
  transform: scale(1.025) translate(-49%, 0);
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[13].use[5]!./src/static/styles/home.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@media (max-width: 930px) {
  #offerContainer {
    text-align: center;
  }
  #offerContainer > div > :last-child {
    display: none;
  }
  #offerBox {
    left: 70% !important;
  }
  #testiContainer {
    height: 100% !important;
    gap: 30px;
    padding-block: 80px;
    margin-bottom: 100px;
    justify-content: unset;
    box-sizing: content-box !important;
  }
  #testiContainer > div {
    max-width: unset;
    max-height: unset;
  }
  #testiContainer h2,
  #testiContainer .h2Highlight {
    font-size: 28px;
  }
  #testiContainer h2 {
    margin-bottom: 30px;
  }
  #testiImgContainer {
    height: 100vh !important;
    width: 100% !important;
    max-width: 390px !important;
    max-height: 395px !important;
  }
}
@media (max-width: 818px) {
  #testiContainer {
    flex-direction: column-reverse;
    text-align: center;
  }
  #testiContainer #testiAuthorContainer,
  #testiContainer #testiAuthor {
    flex-direction: column;
  }
  #testiContainer #testiAuthorContainer {
    gap: 40px;
  }
}
@media (max-width: 620px) {
  .herotext {
    text-align: center;
  }
  #heroContainer {
    height: unset !important;
    max-height: unset !important;
  }
  #heroContainer > :last-child {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    height: unset !important;
    padding-block: 80px;
    gap: 30px;
  }
}
@media (max-width: 620px) and (max-width: 473px) {
  #heroContainer > :last-child .h1Highlight {
    margin-left: 10px;
  }
}
@media (max-width: 620px) {
  #heroBtns {
    margin-top: 30px;
    flex-wrap: wrap;
  }
  .heroCurve {
    display: none;
  }
  #heroImgConatiner span ~ div {
    width: 180px !important;
    height: 180px !important;
  }
  #heroImgConatiner > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  #logoListContainer {
    justify-content: space-evenly;
  }
  #offerContainer {
    max-height: 757px;
    height: 100%;
  }
  #offerContainer > div {
    flex-direction: column;
    height: 100% !important;
    gap: 50px;
  }
  #offerContainer > div > :last-child {
    display: block;
  }
  #offerBox {
    position: relative !important;
    top: unset;
    left: unset !important;
    transform: unset;
  }
  #offerBox svg {
    width: 100% !important;
    height: 100% !important;
  }
}
#heroBtns {
  max-width: 400px;
}

@keyframes slideDown {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideInX {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
.heroImgLeft {
  animation: slideDown 55s ease-in infinite;
}

.heroImgRight {
  animation: slideIn 55s ease-in infinite;
}

.heroImgLeft:hover,
.heroImgRight:hover {
  animation-play-state: paused;
}

@media (max-width: 620px) {
  .heroImgLeft {
    animation: slideInX 55s ease-in infinite;
  }
  .heroImgRight {
    display: none !important;
  }
}
